body {
    margin-top: 20%!important;
    margin-bottom: 20%!important;
    background-color: #bfbfbf!important;
}

.container {
    padding: 0!important;
}
.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.card-footer {
    text-align: center;
}

.btn {
    text-align: left;
}
.mb-2, .my-2 {
    margin-bottom: 0rem!important;
}
